button {
  width: 100%;
  border: none;
  border-radius: 5px;
}
.AC {
  background-color: red;
  color: #fff;
}
.C {
  background-color: rgb(20, 17, 204);
  color: #fff;
}
.grid-container {
  display: flex;
  grid-template-columns: 50px 50px 50px 50px;
}
input {
  grid-column: 1 / span 4;
}
